<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTCL-siv9qqAGz7HK66GXom5eJtGEA1s8</string>
	<key>GCM_SENDER_ID</key>
	<string>731729361383</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.busTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bus-tracker-75d33</string>
	<key>STORAGE_BUCKET</key>
	<string>bus-tracker-75d33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731729361383:ios:eb7ffcbf68c0ae66546542</string>
</dict>
</plist>